node_modules
# Keep environment variables out of version control

# stores classified info to DB

readme.txt
# stores relevant info and steps for me only, as I´m developing knowledge and 
want to keep track of my evolution as a programmer


